<div class="checkbox-demo-container">
    <div>
        <c-checkbox :is-checked.sync="facebook.checked"></c-checkbox> Facebook {{ facebook.checked }}
    </div>

    <div>
        <c-checkbox :is-checked.sync="twitter.checked"></c-checkbox> Twitter {{ twitter.checked }}
    </div>

    <div>
        <c-checkbox :is-checked.sync="linkedin.checked"></c-checkbox> LinkedIn {{ linkedin.checked }}
    </div>

    <div>
        <c-checkbox :is-checked.sync="github.checked"></c-checkbox> Github {{ github.checked }}
    </div>
</div>

