@charset "UTF-8";

$headerWidth: 100%;
$headerHeight: 60px;

$headerBgColor: #191818;
$headerBorderWidth: 0px;
$headerBorderColor: none;

$headerZIndex: 1;

$logoWidth: 200px;

.header {
    width: $headerWidth;
    height: $headerHeight;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $headerBgColor;
    border-bottom: $headerBorderWidth solid $headerBorderColor;
    z-index: $headerZIndex;
    .logo {
        float: left;
        width: $logoWidth;
        height: $headerHeight - $headerBorderWidth;
        line-height: $headerHeight - $headerBorderWidth;
        text-align: center;
        background-color: #ccc;
    }
}