<c-data-table inline-template :data="players" :page-length="5">
    <table class="data-table">
        <thead>
        <tr>
            <th>
                <c-checkbox></c-checkbox>
            </th>
            <th>Name</th>
            <th>Number</th>
            <th>Position</th>
            <th>Birth</th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="i in thisPageData">
            <td>
                <c-checkbox :isChecked="i.checked"></c-checkbox>
            </td>
            <td>{{ i.name }}</td>
            <td>{{ i.number }}</td>
            <td>{{ i.position }}</td>
            <td>{{ i.birth }}</td>
        </tr>
        </tbody>
    </table>
    <footer>
        <c-pagination></c-pagination>
    </footer>
</c-data-table>