<c-table inline-template :data="players">
    <header class="table-header">
        <div class="table-search">
            <input type="text" placeholder="Input a name here" v-search-field="name">
        </div>
    </header>

    <table class="table">
        <thead>
        <tr>
            <th>
                <c-checkbox :is-checked.sync="allChecked"></c-checkbox>
            </th>
            <th v-sort-field="name">Name<i class="sort-icon"></i></th>
            <th v-sort-field="number">Number<i class="sort-icon"></i></th>
            <th v-sort-field="position">Position<i class="sort-icon"></i></th>
            <th v-sort-field="birth">Birth<i class="sort-icon"></i></th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="i in thisPageData">
            <td>
                <c-checkbox :is-checked.sync="i.checked"></c-checkbox>
            </td>
            <td>{{ i.name }}</td>
            <td>{{ i.number }}</td>
            <td>{{ i.position }}</td>
            <td>{{ i.birth }}</td>
        </tr>
        </tbody>
    </table>

    <footer class="table-footer">

    </footer>
</c-table>