<div class="button-demo-container">
    <section>
        <h2>Default Buttons</h2>
        <p>Add 'btn' classname to any a, button or input elements.</p>
        <a class="btn btn-default">&lt;a&gt;</a>
        <button class="btn btn-default">&lt;button&gt</button>
        <input class="btn btn-default" type="button" value="&lt;input&gt">
    </section>

    <section>
        <h2>Predefined Styles</h2>
        <button class="btn btn-default">Default</button>
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-success">Success</button>
        <button class="btn btn-danger">Danger</button>
    </section>

    <section>
        <h2>Buttons with icons</h2>
        <button class="btn btn-default">
            <i class="fa fa-cog"></i>
            <span>Icon</span>
        </button>
    </section>
    
    <section>
        <h2>Disabled Buttons</h2>
        <p>Add 'btn-disabled' classname alongside 'btn'.</p>
        <button class="btn btn-disabled" disabled>&lt;button&gt</button>
        <input class="btn btn-disabled" type="button" value="&lt;input&gt" disabled>
    </section>
</div>