<p>Remodal is a directive built on <a href="http://vodkabears.github.io/remodal">Remodal</a>.</p>

<a class="btn" data-remodal-target="remodal-demo-1">Click Me</a>

<div data-remodal-id="remodal-demo-1" v-remodal>
    <header class="remodal-header">
        <h1 class="remodal-title">Remodal</h1>
        <button data-remodal-action="close" class="remodal-close"><i class="fa fa-close"></i></button>
    </header>

    <main class="remodal-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br>
            Mauris eget quam neque.
        </p>
    </main>

    <footer class="remodal-footer">
        <button data-remodal-action="confirm" class="remodal-confirm btn btn-success">OK</button>
        <button data-remodal-action="cancel" class="remodal-cancel btn">Cancel</button>
    </footer>
</div>