@charset "UTF-8";

$btnPadding: 5px 10px;
$btnBorder: none;
$btnBorderRadius: 2px;

$btnNormalColor: rgba(0,0,0,.8);
$btnNormalBgColor: #eee;
$btnHoverColor: rgba(0,0,0,.8);
$btnHoverBgColor: #ddd;
$btnActiveColor: rgba(0,0,0,.8);
$btnActiveBgColor: #ccc;

$btnPrimaryNormalColor: #fff;
$btnPrimaryNormalBgColor: #0078e7;
$btnPrimaryHoverColor: #fff;
$btnPrimaryHoverBgColor: #005eb5;
$btnPrimaryActiveColor: #fff;
$btnPrimaryActiveBgColor: #004280;

$btnSuccessNormalColor: #fff;
$btnSuccessNormalBgColor: #1Cb841;
$btnSuccessHoverColor: #fff;
$btnSuccessHoverBgColor: #178f33;
$btnSuccessActiveColor: #fff;
$btnSuccessActiveBgColor: #127329;

$btnDangerNormalColor: #fff;
$btnDangerNormalBgColor: #cA3c3c;
$btnDangerHoverColor: #fff;
$btnDangerHoverBgColor: #9c2f2f;
$btnDangerActiveColor: #fff;
$btnDangerActiveBgColor: #732424;

.btn {
    display: inline-block;
    padding: $btnPadding;
    border: $btnBorder;
    border-radius: $btnBorderRadius;
    color: $btnNormalColor;
    background-color: $btnNormalBgColor;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    &:hover {
        color: $btnHoverColor;
        background-color: $btnHoverBgColor;
    }
    &:active {
        color: $btnActiveColor;
        background-color: $btnActiveBgColor;
    }
}

.btn-disabled {
    cursor: not-allowed !important;
    &:hover {
        color: $btnNormalColor !important;
        background-color: $btnNormalBgColor !important;
    }
}

.btn-primary {
    color: $btnPrimaryNormalColor;
    background-color: $btnPrimaryNormalBgColor;
    &:hover {
        color: $btnPrimaryHoverColor;
        background-color: $btnPrimaryHoverBgColor;
    }
    &:active {
        color: $btnPrimaryActiveColor;
        background-color: $btnPrimaryActiveBgColor;
    }
}

.btn-success {
    color: $btnSuccessNormalColor;
    background-color: $btnSuccessNormalBgColor;
    &:hover {
        color: $btnSuccessHoverColor;
        background-color: $btnSuccessHoverBgColor;
    }
    &:active {
        color: $btnSuccessActiveColor;
        background-color: $btnSuccessActiveBgColor;
    }
}

.btn-danger {
    color: $btnDangerNormalColor;
    background-color: $btnDangerNormalBgColor;
    &:hover {
        color: $btnDangerHoverColor;
        background-color: $btnDangerHoverBgColor;
    }
    &:active {
        color: $btnDangerActiveColor;
        background-color: $btnDangerActiveBgColor;
    }
}