@charset "UTF-8";

$checkboxWidth: 20px;
$checkboxHeight: 20px;
$bgColor: #fff;
$borderWidth: 1px;
$borderColor: #b4b4b4;
$borderRadius: 2px;
$checkmarkWidth: 2px;
$checkmarkSize: 10px;
$checkmarkOffsetY: 2px;
$checkmarkColor: #1f8dd6;

.checkbox {
    display: inline-block;
    width: $checkboxWidth;
    height: $checkboxHeight;
    position: relative;
    top: -2px;
    vertical-align: middle;
    background-color: #fff;
    border: $borderWidth solid $borderColor;
    border-radius: $borderRadius;
    cursor: pointer;
    user-select: none;

    &.checked {
        &:after {
            content: ' ';
            display: block;
            width: $checkmarkSize / 2;
            height: $checkmarkSize;
            border: solid $checkmarkColor;
            border-width: 0 $checkmarkWidth $checkmarkWidth 0;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: - $checkmarkOffsetY;
            transform: rotate(45deg) translate3d(-50%, -50%, 0);
            transform-origin: top left;
        }
    }
}