@charset "UTF-8";

.dropit {
    display: inline-block;
    border: $dropitBorderWidth solid $dropitBorderColor;
    user-select: none;
    .dropit-trigger {
        position: relative;
        > a {
            display: block;
            width: 100%;
            line-height: $dropitTriggerHeight - 2 * $dropitBorderWidth;
            padding-left: $dropitOptionHorizontalPadding;
            background-color: $dropitTriggerBgColor;
            cursor: pointer;
            i {
                float: right;
                width: $dropitTriggerHeight - 2 * $dropitBorderWidth;
                height: $dropitTriggerHeight - 2 * $dropitBorderWidth;
                line-height: $dropitTriggerHeight - 2 * $dropitBorderWidth;
                text-align: center;
            }
        }
    }
    .dropit-submenu {
        width: calc(100% + 2 * #{$dropitBorderWidth});
        left: -$dropitBorderWidth;
        max-height: $dropitMenuMaxHeight;
        overflow: auto;
        background-color: $dropitMenuBgColor;
        border: $dropitBorderWidth solid $dropitBorderColor;
        border-top: none;
        li {
            a {
                display: block;
                width: 100%;
                line-height: $dropitOptionLineHeight;
                padding: 0 $dropitOptionHorizontalPadding;
                color: $dropitOptionNormalColor;
                background-color: $dropitOptionNormalBgColor;
                text-decoration: none;
                white-space: nowrap;
                cursor: pointer;
                &:hover {
                    color: $dropitOptionHoverColor;
                    background-color: $dropitOptionHoverBgColor;
                }
            }
        }
    }
}