@charset "utf-8";

.remodal {
    position: relative;
    text-align: left;
    background-color: #fff;
    transform: translate3d(0, 0, 0);
    padding: 30px;
    &.remodal-is-opening {
        animation-fill-mode: forwards;
        animation: remodal-opening-keyframes 0.3s;
    }
    &.remodal-is-closing {
        animation-fill-mode: forwards;
        animation: remodal-closing-keyframes 0.3s;
    }
    .remodal-header {
        .remodal-title {
            margin: 0;
        }
        .remodal-close {
            width: 30px;
            height: 30px;
            border: none;
            background-color: #cA3c3c;
            color: #fff;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            i {
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 14px;
            }
            &:hover {
                background-color: #9c2f2f;
            }
            &:active {
                background-color: #732424;
            }
        }
    }

    .remodal-content {
        position: relative;
    }
}

.remodal-overlay {
    background: rgba(0,0,0,0.4);
    &.remodal-is-opening {
        animation: remodal-overlay-opening-keyframes 0.3s;
    }
    &.remodal-is-closing {
        animation: remodal-overlay-closing-keyframes 0.3s;
    }
}

.remodal,
.remodal-wrapper:after {
    vertical-align: middle;
}

@keyframes remodal-opening-keyframes {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes remodal-closing-keyframes {
    from {
        transform: translateY(0%);
        opacity: 1;
    }
    to {
        transform: translateY(10%);
        opacity: 0;
    }
}

@keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
