<table class="table">
    <thead>
    <tr>
        <th><c-checkbox></c-checkbox></th>
        <th>Name</th>
        <th>Number</th>
        <th>Position</th>
        <th>Birth</th>
    </tr>
    </thead>

    <tbody>
    <tr v-for="player in players">
        <td><c-checkbox></c-checkbox></td>
        <td>{{ player.name }}</td>
        <td>{{ player.number }}</td>
        <td>{{ player.position }}</td>
        <td>{{ player.birth }}</td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
        <td></td>
        <td><c-pagination></c-pagination></td>
    </tr>
    </tfoot>
</table>
