@charset "UTF-8";

$checkboxWidth: 20px;
$checkboxHeight: 20px;

$bgColor: #fff;

$borderWidth: 1px;
$borderColor: $grey;
$borderRadius: 2px;

$checkmarkWidth: 2px;
$checkmarkSize: 10px;
$checkmarkOffsetY: 2px;
$checkmarkColor: $green;

.checkbox {
    display: inline-block;
    width: $checkboxWidth;
    height: $checkboxHeight;
    position: relative;
    top: -2px;
    vertical-align: middle;
    background-color: #fff;
    border: $borderWidth solid $borderColor;
    border-radius: $borderRadius;
    cursor: pointer;
    @include user-select(none);

    &.checked {
        &:after {
            content: ' ';
            display: block;
            width: $checkmarkSize / 2;
            height: $checkmarkSize;
            border: solid $checkmarkColor;
            border-width: 0 $checkmarkWidth $checkmarkWidth 0;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: - $checkmarkOffsetY;
            transform: rotate(45deg) translateX(-50%) translateY(-50%);
            transform-origin: top left;
        }
    }
}