@charset "UTF-8";

$checkboxWidth: 20px;
$checkboxHeight: 20px;

$checkboxBgColor: #fff;

$checkboxBorderWidth: 1px;
$checkboxBorderColor: $grey;
$checkboxBorderRadius: 2px;

$checkboxMarkWidth: 2px;
$checkboxMarkSize: 10px;
$checkboxMarkOffsetY: 2px;
$checkboxMarkColor: $green;

.checkbox {
    display: inline-block;
    width: $checkboxWidth;
    height: $checkboxHeight;
    position: relative;
    top: -2px;
    vertical-align: middle;
    background-color: checkboxBgColor;
    border: $checkboxBorderWidth solid $checkboxBorderColor;
    border-radius: $checkboxBorderRadius;
    cursor: pointer;
    @include user-select(none);

    &.checked {
        &:after {
            content: ' ';
            display: block;
            width: $checkboxMarkSize / 2;
            height: $checkboxMarkSize;
            border: solid $checkboxMarkColor;
            border-width: 0 $checkboxMarkWidth $checkboxMarkWidth 0;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: - $checkboxMarkOffsetY;
            transform: rotate(45deg) translateX(-50%) translateY(-50%);
            transform-origin: top left;
        }
    }
}