@charset "UTF-8";

$selectboxBorderWidth: 1px;
$selectboxBorderColor: $grey;

$selectboxTriggerHeight: 30px;
$selectboxTriggerPadding: 0 10px;
$selectboxTriggerBgColor: #fff;
$selectboxTriggerFontSize: 14px;

$selectboxOptionsBgColor: #fff;
$selectboxOptionsFontSize: 14px;

$selectboxOptionHeight: 30px;
$selectboxOptionPadding: 0 10px;
$selectboxOptionHoverColor: #fff;
$selectboxOptionHoverBgColor: $green;
$selectboxOptionSelectedColor: #fff;
$selectboxOptionSelectedBgColor: $blue;

.selectbox {
    display: inline-block;
    position: relative;
    border: $selectboxBorderWidth solid $selectboxBorderColor;
    .selectbox-trigger {
        display: block;
        height: $selectboxTriggerHeight;
        line-height: $selectboxTriggerHeight;
        padding: $selectboxTriggerPadding;
        position: relative;
        background-color: $selectboxTriggerBgColor;
        font-size: $selectboxTriggerFontSize;
        cursor: pointer;
        z-index: 1;
    }
    .selectbox-options {
        min-width: calc(100% + 2 * #{$selectboxBorderWidth});
        margin: 0;
        padding: 0;
        position: absolute;
        top: $selectboxTriggerHeight - $selectboxBorderWidth;
        left: - $selectboxBorderWidth;
        list-style: none;
        background-color: $selectboxOptionsBgColor;
        border: $selectboxBorderWidth solid $selectboxBorderColor;
        font-size: $selectboxOptionsFontSize;
        z-index: 2;
        li {
            display: block;
            height: $selectboxOptionHeight;
            line-height: $selectboxOptionHeight;
            padding: $selectboxOptionPadding;
            color: inherit;
            text-decoration: none;
            white-space: nowrap;
            cursor: pointer;
            &.selected {
                color: $selectboxOptionSelectedColor;
                background-color: $selectboxOptionSelectedBgColor;
            }
            &:hover {
                color: $selectboxOptionHoverColor;
                background-color: $selectboxOptionHoverBgColor;
            }
        }
        
    }
}