<ul class="pagination">
    <li @click="setPage(0)">
        <a class="first"><i class="fa fa-angle-double-left"></i></a>
    </li>

    <li @click="setPage(currentPage - 1)">
        <a class="previous"><i class="fa fa-angle-left"></i></a>
    </li>

    <li @click="setPage(currentPage - 5)"
        v-if="(currentPage > 2) && (pagesTotal > 5)">
        <a class="previous"><i class="fa fa-ellipsis-h"></i></a>
    </li>

    <li @click="setPage(pageNumber)"
        :class="{ current: currentPage === pageNumber }"
        v-for="pageNumber in pagesTotal"
        v-if="isShow(pageNumber)">
        <a>{{ pageNumber + 1 }}</a>
    </li>

    <li @click="setPage(currentPage + 5)"
        v-if="(currentPage < pagesTotal - 3) && (pagesTotal > 5)">
        <a class="previous"><i class="fa fa-ellipsis-h"></i></a>
    </li>

    <li @click="setPage(currentPage + 1)">
        <a class="next"><i class="fa fa-angle-right"></i></a>
    </li>

    <li @click="setPage(pagesTotal - 1)">
        <a class="last"><i class="fa fa-angle-double-right"></i></a>
    </li>
</ul>