@charset "UTF-8";

$sidebarWidth: 200px;
$sidebarPosTop: 60px;
$sidebarBgColor: $greyBlack;

$navNormalColor: #fff;

$navHoverColor: #fff;
$navHoverBgColor: $greyBlack + 20;

$navActiveColor: #fff;
$navActiveBgColor: $blue;

$navItemHeight: 45px;
$navItemPadding: 0 20px;

$navItemFontSize: 14px;

.sidebar {
    width: $sidebarWidth;
    height: calc(100vh - #{$sidebarPosTop});
    position: fixed;
    top: $sidebarPosTop;
    left: 0;
    background-color: $sidebarBgColor;
    overflow: auto;
    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                height: $navItemHeight;
                line-height: $navItemHeight;
                font-size: $navItemFontSize;
                color: $navNormalColor;
                &:hover {
                    color: $navHoverColor;
                    background-color: $navHoverBgColor;
                }
                &.active {
                    color: $navActiveColor;
                    background-color: $navActiveBgColor;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: $navItemPadding;
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }
}