@charset "utf-8";

// styles of the modal dialog
.remodal {
    text-align: left;
    background-color: #fff;
    position: relative;
    transform: translate3d(0, 0, 0);
    &.remodal-is-opening {
        animation-fill-mode: forwards;
        animation: remodal-opening-keyframes 0.3s;
    }
    &.remodal-is-closing {
        animation-fill-mode: forwards;
        animation: remodal-closing-keyframes 0.3s;
    }
    .remodal-close {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        background-color: green;
        color: #fff;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        i {
            font-size: 14px;
        }
        &:hover {
            background-color: green - 30;;
        }
    }
    .remodal-content {
        position: relative;
        padding: 50px 30px 30px 30px;
        .page-header {
            margin-bottom: 20px;
        }
        .text {
            font-size: 12px;
            color: #37474F;
            word-wrap: break-word;
        }
    }
}

// styles for different modal size
.remodal {
    &.small {
        width: 400px;
    }
    &.medium {
        width: 700px;
    }
    &.large {
        width: 1000px;
    }
    &.auto {
        width: auto;
        min-width: 400px;
        max-width: 1000px;
    }
}

// styles of the overlay
.remodal-overlay {
    background: rgba(0,0,0,0.2);
    &.remodal-is-opening {
        animation-fill-mode: forwards;
        animation: remodal-overlay-opening-keyframes 0.3s;
    }
    &.remodal-is-closing {
        animation-fill-mode: forwards;
        animation: remodal-overlay-closing-keyframes 0.3s;
    }
}

// styles of the wrapper
.remodal-wrapper {
    padding: 10px 10px 0;
}

// vertical align of the modal dialog
.remodal,
.remodal-wrapper:after {
    vertical-align: middle;
}

// keyframes
@keyframes remodal-opening-keyframes {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes remodal-closing-keyframes {
    from {
        transform: translateY(0%);
        opacity: 1;
    }
    to {
        transform: translateY(10%);
        opacity: 0;
    }
}

@keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
