@charset "UTF-8";

$switcherWidth: 60px;
$switcherHeight: 24px;
$handlerWidth: 16px;
$handerHeight: 16px;
$handerOffsetX: 2px;
$positiveColor: #FD944B;
$negativeColor: rgba(158,158,158,.4);

$trackWidth: 2 * $switcherWidth - $switcherHeight - 2;

.switcher {
    width: $switcherWidth;
    height: $switcherHeight;
    border-radius: $switcherHeight / 2;
    position: relative;
    transition: all 400ms;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    &.active {
        background-color: $positiveColor;
        border: 1px solid $positiveColor - 15;
        .handler {
            border: 1px solid $positiveColor - 15;
            margin-left: -$handerOffsetX;
        }
    }
    &.inactive {
        background-color: $negativeColor;
        border: 1px solid $negativeColor - 15;
        .track {
            left: -$trackWidth + $switcherWidth - 2;
        }
        .handler {
            border: 1px solid $negativeColor - 15;
            margin-left: $handerOffsetX;
        }
    }
    .track {
        width: $trackWidth;
        height: $switcherHeight - 2;
        line-height: $switcherHeight - 2;
        position: absolute;
        left: 0px;
        transition: all 300ms;
        cursor: pointer;
        > * {
            float: left;
        }
    }
    .handler {
        width: $handlerWidth;
        height: $handerHeight;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        transition: all 200ms;
        cursor: pointer;
    }
    .text {
       width: ($trackWidth - $handlerWidth) / 2;
       height: $switcherHeight - 2;
       line-height: $switcherHeight - 2;
       position: absolute;
       text-align: center;
       cursor: pointer;
       color: #fff;
       &.left {
           left: 0px;
       },
       &.right {
           right: 0px;
       }
   }
}
