@charset "UTF-8";

.table {
    width: 100%;
    tr {
        th {
            text-align: left;
            font-weight: $dataTableThFontWeight;
            background-color: $dataTableTheadBgColor;
            &.sortable {
                cursor: pointer;
            }
        }
        td {

        }
        th, td {
            padding: $dataTableCellPadding;
            line-height: $dataTableCellLineHeight;
            border: 1px solid $dataTableBorderColor;
        }
        &:hover {
            background-color: $dataTableTrHoverBgColor !important;
        }
    }
    tbody {
        tr {
            &:nth-child(odd) {
                background-color: $dataTableOddTrBgColor;
            }
            &:nth-child(even) {
                background-color: $dataTableEvenTrBgColor;
            }
        }
    }
}