<div class="sidebar">
    <nav>
        <ul>
            <li><a v-link="{ path: '/' }">Home</a></li>
            <li><a v-link="{ path: '/checkbox' }">Checkbox</a></li>
            <li><a v-link="{ path: '/dropdown' }">Dropdown</a></li>
            <li><a v-link="{ path: '/modal' }">Modal</a></li>
            <li><a v-link="{ path: '/percentageFormatter' }">PercentageFormat</a></li>
            <li><a v-link="{ path: '/switcher' }">Switcher</a></li>
            <li><a v-link="{ path: '/table' }">Table</a></li>
            <li><a v-link="{ path: '/timeFormatter' }">TimeFormat</a></li>
            <li><a v-link="{ path: '/timePicker' }">TimePicker</a></li>
        </ul>
    </nav>
</div>