<div class="sidebar">
    <nav>
        <ul>
            <li v-link-active><a v-link="{ path: '/home' }">Home</a></li>
            <li v-link-active><a v-link="{ path: '/checkbox' }">Checkbox</a></li>
            <li v-link-active><a v-link="{ path: '/dropdown' }">Dropdown</a></li>
            <li v-link-active><a v-link="{ path: '/modal' }">Modal</a></li>
            <li v-link-active><a v-link="{ path: '/percentageFormatter' }">PercentageFormat</a></li>
            <li v-link-active><a v-link="{ path: '/switcher' }">Switcher</a></li>
            <li v-link-active><a v-link="{ path: '/table' }">Table</a></li>
            <li v-link-active><a v-link="{ path: '/timeFormatter' }">TimeFormat</a></li>
            <li v-link-active><a v-link="{ path: '/datetimePicker' }">DatetimePicker</a></li>
        </ul>
    </nav>
</div>