<div class="sidebar">
    <nav>
        <ul>
            <li v-link-active><a v-link="{ path: '/', exact: true }">Home</a></li>
            <li v-link-active><a v-link="{ path: '/button' }">Button</a></li>
            <li v-link-active><a v-link="{ path: '/checkbox' }">Checkbox</a></li>
            <li v-link-active><a v-link="{ path: '/dropdown' }">Dropdown</a></li>
            <li v-link-active><a v-link="{ path: '/percentageFormatter' }">PercentageFormatter</a></li>
            <li v-link-active><a v-link="{ path: '/pikaday' }">Pikaday</a></li>
            <li v-link-active><a v-link="{ path: '/remodal' }">Remodal</a></li>
            <li v-link-active><a v-link="{ path: '/switcher' }">Switcher</a></li>
            <li v-link-active><a v-link="{ path: '/dataTable' }">DataTable</a></li>
            <li v-link-active><a v-link="{ path: '/timeFormatter' }">TimeFormatter</a></li>
        </ul>
    </nav>
</div>