@charset "UTF-8";

.content {
    width: calc(100% - #{$sidebarWidth});
    height: calc(100vh - #{$headerHeight});
    padding: $contentPadding;
    position: absolute;
    top: $headerHeight;
    left: $sidebarWidth;
    background-color: $contentBgColor;
}