@charset "UTF-8";

.header {
    width: $headerWidth;
    height: $headerHeight;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $headerBgColor;
    border-bottom: $headerBorderWidth solid $headerBorderColor;
    z-index: $headerZIndex;
    .logo {
        float: left;
        width: $sidebarWidth;
        height: $headerHeight - $headerBorderWidth;
        line-height: $headerHeight - $headerBorderWidth;
        text-align: center;
        background-color: #ccc;
    }
}