@charset "UTF-8";

$sidebarWidth: 200px;
$sidebarPosTop: $headerHeight;
$sidebarBgColor: #333;
$sidebarZIndex: 0;

.sidebar {
    width: $sidebarWidth;
    height: calc(100vh - #{$sidebarPosTop});
    position: absolute;
    top: $headerHeight;
    left: 0;
    background-color: $sidebarBgColor;
    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                color: #fff;
                &.active {
                    color: #333;
                    background-color: #fff;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }
}